/* Custom CSS goes here */
.card-user {
    max-width: 80px;
}

.bi {
    /* Style Boostrap icons a bit better */
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 2px;
    margin-left: 2px;
}

.navbar-avatar {
    height: 30px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.navbar {
    background: url('../img/books_bg_2.jpg') no-repeat 50% 50%;
}

.hero-unit {
    background: url('../img/books_bg_2.jpg') no-repeat;
}

